*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

button,
input,
textarea,
section {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    outline: none;
    user-select: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}
