@import "tailwindcss";

@theme {
    --font-heading: "Roboto Slab", serif;
    --font-base: "Manrope", sans-serif;

    --color-body: #0e1412;
    --color-primary: #fd6038;
    --light-primary-color: #ffefe5;
    --light-dark: #586863;
    --filter-primary-color: brightness(0) saturate(100%) invert(53%) sepia(55%) saturate(4213%) hue-rotate(338deg)
        brightness(101%) contrast(98%);
    --border-color: #e0e0e0;
    --header-bg: #f8ebc9;
    --navbar-bg: #fff;
    --navbar-shadow: rgba(0, 0, 0, 0.05);
}

@layer base {
    body {
        @apply font-base text-body;
    }

    body {
        &.home-page .header {
            @apply !bg-white;
        }
    }

    input,
    textarea {
        @apply block font-[inherit] text-body outline-none;
    }
}

@utility navbar {
    @apply fixed inset-0 z-2 ml-auto -translate-x-full bg-[var(--navbar-bg)] shadow-[0_0_1.4rem_0_var(--navbar-shadow)] opacity-0 transition-[translate,opacity] duration-300 md:inset-[0_50%_0_0] overflow-y-auto overscroll-contain [&.navbar--active]:translate-x-0 [&.navbar--active]:opacity-100 lg:static lg:translate-0 lg:shadow-none lg:opacity-100 lg:overflow-visible lg:bg-transparent;

    &.navbar--active > .sub-menu {
        @apply block;
    }

    &.navbar--active ~ .navbar__overlay {
        @apply opacity-100 visible;
    }
}

@utility navbar__item {
    @apply relative;

    &:hover > .sub-menu {
        @apply lg:opacity-100 lg:visible lg:-translate-x-[0];
    }

    &:hover > .navbar__link {
        @apply text-primary;
    }

    &:hover > .navbar__link > .navbar__arrow {
        @apply lg:-rotate-90 lg:filter-[var(--filter-primary-color)];
    }

    &.navbar__item--active > .navbar__link > .navbar__arrow {
        @apply -rotate-180 filter-[var(--filter-primary-color)];
    }

    &.navbar__item--active > .sub-menu {
        @apply h-auto opacity-100;
    }
}

@utility navbar__link {
    @apply flex items-center p-[1rem_2rem] text-body leading-[1.75] hover:text-primary select-none;

    &.navbar__link--active {
        @apply font-[600] text-primary;
    }
}

@utility navbar__arrow {
    @apply ml-auto transition-[rotate] duration-200 lg:ml-[0.5rem];
}

@utility sub-menu {
    @apply h-0 pl-[2rem] bg-white opacity-0 transition-[height,opacity,translate] duration-300 lg:absolute lg:top-full lg:left-0 lg:-translate-x-[1rem] lg:pl-0 lg:min-w-[20rem] lg:h-auto lg:shadow-[0_0_1.4rem_0_rgba(0,0,0,0.04)] lg:invisible;

    .navbar__link {
        @apply lg:py-[0.6rem] lg:text-[1.4rem];
    }

    .navbar__arrow {
        @apply lg:ml-auto;
    }

    .sub-menu {
        @apply lg:top-0 lg:left-full;
    }
}

@utility navbar__overlay {
    @apply fixed inset-[0] z-1 opacity-0 invisible bg-[rgba(0,0,0,0.5)] transition-[opacity,visibility] duration-300;
}

@utility btn {
    @apply inline-flex items-center justify-center min-w-[9.8rem] h-[3.5rem] px-[1.6rem] rounded-[0.6rem] leading-none font-[600] text-[#000] bg-[#f1f1f1] cursor-pointer select-none border-none outline-none;

    &:hover {
        @apply opacity-90;
    }

    &.btn--primary {
        @apply text-white bg-[var(--color-primary)];
    }
}

@utility heading-wrapper {
    @apply flex flex-col items-center;
}

@utility section-sub-heading {
    @apply mb-[0.6rem] font-heading text-[1rem] leading-[1.7rem] text-center text-primary md:text-[1.8rem] md:leading-[3rem];
}

@utility section-heading {
    @apply text-[2.4rem] font-heading font-[700] leading-[3rem] text-center md:text-[4.2rem] md:leading-[5.2rem] xl:max-w-[77rem];
}

@utility dots {
    @apply flex items-center justify-center gap-[3rem];
}

@utility dot {
    @apply size-[1.3rem] rounded-full bg-[#E0E0E0] cursor-pointer transition-[background-color] duration-300;

    &:hover,
    &.dot--active {
        @apply bg-[#EB5757];
    }
}
