<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About - Justice Law Firm</title>
        <!-- Head -->
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <!-- Header -->
        <%- include("./partials/header.ejs") %>

        <main>
            <section class="pt-[4rem] pb-[2.5rem] lg:pt-[7rem] lg:pb-[7.5rem]">
                <div class="container gx-lg-0">
                    <div class="heading-wrapper mb-[3rem] lg:mb-[7rem]">
                        <h2 class="section-heading">
                            You can count on the undivided attention of a team that prizes relationships over profits.
                        </h2>
                    </div>
                    <row class="grid grid-cols-1 gap-[2rem] md:grid-cols-2 md:gap-[3rem]">
                        <article>
                            <a href="#!" class="relative block w-full h-[25rem] md:h-[34rem] lg:h-[42.6rem] hover:">
                                <img
                                    class="absolute top-0 left-0 w-full h-full object-cover"
                                    src="./img/about-1.jpg"
                                    alt="An Interview With Raymond King"
                                />
                                <div
                                    class="absolute bottom-0 left-0 w-full p-[1.4rem] bg-primary text-white md:px-[2rem] md:py-[2.5rem]"
                                >
                                    <h3
                                        class="font-[700] text-[1.2rem] leading-[1.8rem] md:text-[1.8rem] md:leading-[3.2rem] lg:text-[2.2rem]"
                                    >
                                        An Interview With Raymond King
                                    </h3>
                                    <p
                                        class="mt-[0.8rem] text-[1rem] leading-[1.6rem] md:text-[1.4rem] lg:text-[1.6rem]"
                                    >
                                        Comparison between various civil law and private law institutions.
                                    </p>
                                </div>
                                <button
                                    class="absolute top-1/2 left-1/2 -translate-1/2 flex items-center justify-center size-[3.6rem] bg-white rounded-full text-primary cursor-pointer md:size-[4.8rem] lg:size-[6rem]"
                                >
                                    <svg
                                        class="ml-[0.4rem] md:size-[1.6rem] lg:size-[2.4rem] lg:ml-[0.8rem]"
                                        width="11"
                                        height="13"
                                        viewBox="0 0 11 13"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M10.5791 6.10732L0.000153542 12.2151V-0.000439167L10.5791 6.10732Z"
                                            fill="currentColor"
                                        />
                                    </svg>
                                </button>
                            </a>
                        </article>
                        <article>
                            <a href="#!" class="relative block w-full h-[25rem] md:h-[34rem] lg:h-[42.6rem]">
                                <img
                                    class="absolute top-0 left-0 w-full h-full object-cover"
                                    src="./img/about-2.jpg"
                                    alt="An Interview With John Morgan"
                                />
                                <div
                                    class="absolute bottom-0 left-0 w-full p-[1.4rem] bg-primary text-white md:px-[2rem] md:py-[2.5rem]"
                                >
                                    <h3
                                        class="font-[700] text-[1.2rem] leading-[1.8rem] md:text-[1.8rem] md:leading-[3.2rem] lg:text-[2.2rem]"
                                    >
                                        An Interview With John Morgan
                                    </h3>
                                    <p
                                        class="mt-[0.8rem] text-[1rem] leading-[1.6rem] md:text-[1.4rem] lg:text-[1.6rem]"
                                    >
                                        Comparison between various civil law and private law institutions.
                                    </p>
                                </div>
                                <button
                                    class="absolute top-1/2 left-1/2 -translate-1/2 flex items-center justify-center size-[3.6rem] bg-white rounded-full text-primary cursor-pointer md:size-[4.8rem] lg:size-[6rem]"
                                >
                                    <svg
                                        class="ml-[0.4rem] md:size-[1.6rem] lg:size-[2.4rem] lg:ml-[0.8rem]"
                                        width="11"
                                        height="13"
                                        viewBox="0 0 11 13"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M10.5791 6.10732L0.000153542 12.2151V-0.000439167L10.5791 6.10732Z"
                                            fill="currentColor"
                                        />
                                    </svg>
                                </button>
                            </a>
                        </article>
                    </row>
                </div>
            </section>

            <section class="pt-[2.5rem] pb-[5rem] lg:pt-[7rem] lg:pb-[15rem]">
                <div class="container gx-lg-0">
                    <div class="row g-3 items-center">
                        <div class="col col-12 col-lg-5">
                            <div class="heading-wrapper items-start">
                                <p class="section-sub-heading text-left text-[#586863]">History</p>
                                <h2 class="section-heading text-left">Through And Complete Attention to Law</h2>
                            </div>
                            <p
                                class="mt-[1.2rem] text-[1.2rem] text-[#586863] leading-[2.1rem] md:mt-[1.8rem] md:text-[1.8rem] md:leading-[3rem]"
                            >
                                While Mr. Parmele, his paralegals, and clerks are busy assisting you with your forms,
                                helping you assemble your documentation, and keeping you updated regularly, Mr. Parmele
                                is busy behind the scenes, focusing on winning your case. Your initial meeting with
                                Parmele Law Firm sets in motion the difficult – and tedious – process of getting your
                                benefits for you.
                            </p>
                        </div>
                        <div class="col col-12 col-lg-6 offset-lg-1">
                            <div
                                class="relative before:absolute before:bottom-0 before:left-0 before:-z-1 before:w-1/2 before:h-[47.2%] before:bg-primary"
                            >
                                <img
                                    class="w-[calc(100%-1.6rem)] h-[31.8rem] ml-auto object-cover md:h-[57rem]"
                                    src="./img/about-3.jpg"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mb-[5rem] py-[4rem] bg-[#F8EBC9] lg:mb-[15rem] lg:py-[10rem]">
                <div class="container">
                    <div class="heading-wrapper">
                        <p class="section-sub-heading text-[#586863]">OUR EXPERIENCE</p>
                        <h2 class="section-heading max-w-full">20 Years of Experience In Various Cases</h2>
                        <p
                            class="mt-[1.2rem] text-[1.2rem] text-center leading-[2rem] md:mt-[2rem] md:text-[1.8rem] md:leading-[3rem] lg:max-w-[60rem]"
                        >
                            Asbestos.com is proud to donate to organizations that raise awareness and support ongoing
                            research on mesothelioma, cancer
                        </p>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>

        <!-- Scripts -->
        <script type="module" src="/main.js"></script>
    </body>
</html>
