<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog - Justice Law Firm</title>
        <!-- Head -->
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <!-- Header -->
        <%- include("./partials/header.ejs") %>

        <main>
            <section class="pt-[4rem] pb-[5rem] lg:pt-[7rem] lg:pb-[15rem]">
                <div class="container gx-lg-0">
                    <h1
                        class="section-heading font-[800] text-[3.5rem] text-left leading-[4.1rem] lg:text-[6rem] lg:leading-[7rem]"
                    >
                        Our Regular Blog
                    </h1>
                    <p
                        class="mt-[1.2rem] text-[1rem] text-[var(--light-dark)] max-w-[27.6rem] md:max-w-[47rem] md:text-[1.6rem] lg:mt-[1.6rem] lg:text-[1.8rem]"
                    >
                        With our experience we are ready to help you create a modern property with an easy step.
                    </p>
                    <div class="grid grid-cols-1 gap-[3rem] mt-[4rem] md:grid-cols-2 lg:grid-cols-3 lg:mt-[7rem]">
                        <!-- Blog card 1 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-1.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 2 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-2.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 3 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-3.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 4 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-4.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 5 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-5.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 6 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-6.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 7 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-7.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 8 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-8.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 9 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-9.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 10 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-10.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 11 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-11.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>

                        <!-- Blog card 12 -->
                        <article>
                            <a href="#!" class="relative block w-full h-0 pt-[75%] overflow-hidden">
                                <img
                                    class="absolute inset-0 w-full h-full object-cover transition-[scale] duration-500 hover:scale-[1.1]"
                                    src="./img/blog-12.jpg"
                                    alt=""
                                />
                            </a>
                            <div>
                                <h3
                                    class="mt-[2rem] font-[500] text-[1.8rem] leading-[3rem] line-clamp-2 transition-[color] duration-300 hover:text-primary"
                                >
                                    <a href="#!">Top 20 Effective Digital Marketing Tools to Help</a>
                                </h3>
                                <p class="mt-[1.4rem] text-[var(--light-dark)] leading-[2.8rem]">July 27, 2021</p>
                            </div>
                        </article>
                    </div>
                    <div class="flex justify-center mt-[4rem] lg:mt-[5.5rem]">
                        <a href="#!" class="btn btn--primary min-w-[16rem] h-[6rem] font-[1.8rem] leading-[3rem]"
                            >Load More</a
                        >
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>

        <!-- Scripts -->
        <%- include("./partials/foot.ejs") %>
    </body>
</html>
