<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog - Justice Law Firm</title>
        <!-- Head -->
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <!-- Header -->
        <%- include("./partials/header.ejs") %>

        <main>
            <div class="container">
                <div class="heading-wrapper">
                    <h2 class="section-heading">
                        You can count on the undivided attention of a team that prizes relationships over profits.
                    </h2>
                </div>
                <row class="row-cols-1 row-cols-md-2">
                    <div class="col">
                        <article>
                            <a href="#!">
                                <img src="./img/about-1" alt="An Interview With Raymond King" />
                                <div>
                                    <h3>An Interview With Raymond King</h3>
                                    <p>Comparison between various civil law and private law institutions.</p>
                                </div>
                                <button>
                                    <svg
                                        width="11"
                                        height="13"
                                        viewBox="0 0 11 13"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M10.5791 6.10732L0.000153542 12.2151V-0.000439167L10.5791 6.10732Z"
                                            fill="#FD6038"
                                        />
                                    </svg>
                                </button>
                            </a>
                        </article>
                    </div>
                </row>
            </div>
        </main>

        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>
    </body>
</html>
