<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog - Justice Law Firm</title>
        <!-- Head -->
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <!-- Header -->
        <%- include("./partials/header.ejs") %>

        <main class="min-h-[calc(100vh-76px-96px)]">
            <div class="container">
                <h1 class="text-[4.8rem] text-red-500 font-[800]">Blog page</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quos iste maiores recusandae? Odio
                    porro, magnam numquam culpa laborum delectus.
                </p>
            </div>
        </main>

        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>
    </body>
</html>
