<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact - Justice Law Firm</title>
        <!-- Head -->
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <!-- Header -->
        <%- include("./partials/header.ejs") %>

        <main>
            <section class="pt-[4rem] pb-[5rem] lg:pt-[10rem] lg:pb-[15rem]">
                <div class="container gx-lg-0">
                    <div class="heading-wrapper items-start">
                        <p class="section-sub-heading">Contact us</p>
                        <h2 class="section-heading max-w-[67rem] text-left">We Are Always Ready To Hear For You.</h2>
                        <p
                            class="mt-[1rem] max-w-[26.5rem] text-[1rem] leading-[1.6rem] -tracking-[0.01rem] md:max-w-[60%] md:text-[1.6rem] md:leading-[2.4rem]"
                        >
                            The right move at the right time saves your investment. live the dream of expanding your
                            business.
                        </p>
                    </div>
                    <form action="" class="grid grid-cols-1 gap-[2rem] mt-[3rem] md:grid-cols-2">
                        <div>
                            <input
                                class="w-full h-[6rem] px-[3rem] font-[500] text-[1.6rem] leading-[2.4rem] bg-[#F2F2F2] placeholder:font-[400] placeholder:text-[#586863]"
                                type="text"
                                placeholder="Enter your name"
                                required
                            />
                        </div>
                        <div>
                            <input
                                class="w-full h-[6rem] px-[3rem] font-[500] text-[1.6rem] leading-[2.4rem] bg-[#F2F2F2] placeholder:font-[400] placeholder:text-[#586863]"
                                type="text"
                                placeholder="Company (optional)"
                            />
                        </div>
                        <div>
                            <input
                                class="w-full h-[6rem] px-[3rem] font-[500] text-[1.6rem] leading-[2.4rem] bg-[#F2F2F2] placeholder:font-[400] placeholder:text-[#586863]"
                                type="email"
                                placeholder="Your email"
                                required
                            />
                        </div>
                        <div>
                            <input
                                class="w-full h-[6rem] px-[3rem] font-[500] text-[1.6rem] leading-[2.4rem] bg-[#F2F2F2] placeholder:font-[400] placeholder:text-[#586863]"
                                type="text"
                                placeholder="Phone number"
                                required
                            />
                        </div>
                        <div class="md:col-span-full">
                            <textarea
                                name=""
                                id=""
                                class="w-full min-h-[10.3rem] p-[2rem_3rem] font-[500] text-[1.6rem] leading-[2.4rem] bg-[#F2F2F2] placeholder:font-[400] placeholder:text-[#586863] md:min-h-[20.3rem]"
                                placeholder="Tell us about yourself"
                            ></textarea>
                        </div>
                        <div class="mt-[1rem]">
                            <button
                                type="submit"
                                class="btn min-w-[14.4rem] h-[6.2rem] rounded-full cursor-pointer bg-[#0E1412] text-[#fff]"
                            >
                                Contact us
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>

        <!-- Scripts -->
        <%- include("./partials/foot.ejs") %>
    </body>
</html>
