<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Justice Law Firm</title>
        <!-- Head -->
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <!-- Header -->
        <%- include("./partials/header.ejs") %>

        <!-- Hero -->
        <%- include("./partials/hero.ejs") %>

        <main class="h-[1000px]"></main>
        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>

        <!-- Scripts -->
        <script src="./main.js"></script>
    </body>
</html>
