<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Justice Law Firm</title>
        <!-- Head -->
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <!-- Header -->
        <%- include("./partials/header.ejs") %>

        <!-- Hero -->
        <section class="container gx-lg-0">
            <div class="pb-[4rem] lg:pt-[5rem]">
                <div class="row gy-3">
                    <div class="col col-12 col-lg-6">
                        <h2
                            class="color-body font-heading text-[3.5rem] font-[800] leading-[1.17] lg:text-[4.8rem] xl:text-[6rem]"
                        >
                            Find Your Dream<br />Home Right Away.
                        </h2>
                        <p
                            class="mt-[1.2rem] text-[#586863] text-[1rem] leading-[1.7] lg:mt-[2rem] lg:max-w-[47rem] lg:text-[1.8rem]"
                        >
                            The experience and commitment to rewarding landoawmers with their dream architectural
                            developments has made them eam trust within and beyond borders.
                        </p>
                        <button
                            class="btn btn--primary gap-[0.5rem] mt-[2rem] text-[1.0579rem] uppercase lg:gap-[1rem] lg:mt-[4rem] lg:h-[6rem] lg:px-[3rem] lg:text-[1.8rem]"
                        >
                            Find Property
                            <svg
                                class="w-[1.0629rem] lg:size-[2.4rem]"
                                width="19"
                                height="15"
                                viewBox="0 0 19 15"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M10.2929 13.2929C9.90237 13.6834 9.90237 14.3166 10.2929 14.7071C10.6834 15.0976 11.3166 15.0976 11.7071 14.7071L17.5 8.91421C18.281 8.13317 18.281 6.86684 17.5 6.08579L11.7071 0.292894C11.3166 -0.0976312 10.6834 -0.0976312 10.2929 0.292894C9.90237 0.683418 9.90237 1.31658 10.2929 1.70711L15.0858 6.5H1C0.447715 6.5 0 6.94772 0 7.5C0 8.05229 0.447715 8.5 1 8.5H15.0858L10.2929 13.2929Z"
                                    fill="currentColor"
                                />
                            </svg>
                        </button>
                    </div>
                    <div class="col col-12 col-lg-5 offset-lg-1">
                        <img
                            class="w-full h-[27rem] object-cover rounded-[1rem] lg:h-[38rem]"
                            src="./img/hero-img.jpg"
                            alt="Find Your Dream Home Right Away"
                        />
                    </div>
                </div>
                <div
                    class="flex flex-col mt-[4rem] md:flex-col-reverse md:gap-[3rem] lg:flex-row-reverse lg:items-center lg:rounded-[0.8rem] lg:p-[3rem] lg:shadow-[0_2rem_7rem_0_rgba(14,20,18,0.07)] xl:p-[3rem_9.7rem]"
                >
                    <button
                        class="flex items-center justify-center w-[6.4rem] h-[5.4rem] rounded-[0.6rem] bg-primary text-[#fff] cursor-pointer lg:ml-auto"
                        aria-label="Search"
                    >
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M16.0319 14.6177C17.2635 13.078 18 11.125 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18C11.125 18 13.078 17.2635 14.6177 16.0319L17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L16.0319 14.6177ZM16 9C16 12.866 12.866 16 9 16C5.13401 16 2 12.866 2 9C2 5.13401 5.13401 2 9 2C12.866 2 16 5.13401 16 9Z"
                                fill="currentColor"
                            />
                        </svg>
                    </button>
                    <div class="flex flex-col gap-[3rem] mt-[3rem] md:flex-row lg:gap-[8rem] xl:gap-[15rem]">
                        <div class="flex">
                            <svg
                                class="mt-[0.5rem]"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M20.0347 10.0348C20.0347 11.9349 19.3751 13.681 18.2724 15.0565H18.277C18.277 15.0565 15.4846 18.7933 13.3214 21.4393C12.6312 22.2834 11.3688 22.2831 10.6791 21.4386C8.5227 18.7985 5.73385 15.0646 5.73385 15.0646L5.72735 15.0565C4.62466 13.681 3.96509 11.9349 3.96509 10.0348C3.96509 5.5973 7.56238 2 11.9999 2C16.4374 2 20.0347 5.5973 20.0347 10.0348ZM15 10C15 11.6569 13.6569 13 12 13C10.3431 13 9 11.6569 9 10C9 8.34315 10.3431 7 12 7C13.6569 7 15 8.34315 15 10Z"
                                    fill="#0E1412"
                                />
                            </svg>
                            <div class="ml-[1rem]">
                                <h3 class="text-[2.2rem] font-[700] leading-[3.2rem]">Location</h3>
                                <div class="flex items-center gap-[1rem] mt-[0.5rem]">
                                    <span class="text-[1.4rem] text-[#586863] leading-[2.4rem]">Select Location</span>
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M12 13.5858L16.2929 9.29289C16.6834 8.90237 17.3166 8.90237 17.7071 9.29289C18.0976 9.68342 18.0976 10.3166 17.7071 10.7071L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L6.29289 10.7071C5.90237 10.3166 5.90237 9.68342 6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289L12 13.5858Z"
                                            fill="#586863"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <svg
                                class="mt-[0.5rem]"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M2.99311 9.10625C2.36096 9.67518 2 10.4857 2 11.3361V19C2 20.6569 3.34315 22 5 22H19C20.6569 22 22 20.6569 22 19V11.3361C22 10.4857 21.639 9.67518 21.0069 9.10625L14.0069 2.80625C12.866 1.77943 11.134 1.77943 9.9931 2.80625L2.99311 9.10625ZM11 13C9.89543 13 9 13.8955 9 15V19C9 19.5523 9.44772 20 10 20H14C14.5523 20 15 19.5523 15 19V15C15 13.8955 14.1046 13 13 13H11Z"
                                    fill="#0E1412"
                                />
                            </svg>

                            <div class="ml-[1rem]">
                                <h3 class="text-[2.2rem] font-[700] leading-[3.2rem]">Property Type</h3>
                                <div class="flex items-center gap-[1rem] mt-[0.5rem]">
                                    <span class="text-[1.4rem] text-[#586863] leading-[2.4rem]"
                                        >Choose Property Type</span
                                    >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M12 13.5858L16.2929 9.29289C16.6834 8.90237 17.3166 8.90237 17.7071 9.29289C18.0976 9.68342 18.0976 10.3166 17.7071 10.7071L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L6.29289 10.7071C5.90237 10.3166 5.90237 9.68342 6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289L12 13.5858Z"
                                            fill="#586863"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <svg
                                class="mt-[0.5rem]"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M5 2C3.34315 2 2 3.34315 2 5V19C2 20.6569 3.34315 22 5 22H19C20.6569 22 22 20.6569 22 19V9C22 7.69378 21.1652 6.58254 20 6.17071V5C20 3.34315 18.6569 2 17 2H5ZM5 4C4.44772 4 4 4.44772 4 5C4 5.55228 4.44772 6 5 6H18V5C18 4.44772 17.5523 4 17 4H5ZM17 12C15.8954 12 15 12.8954 15 14C15 15.1046 15.8954 16 17 16H19C19.5523 16 20 15.5523 20 15V13C20 12.4477 19.5523 12 19 12H17Z"
                                    fill="#0E1412"
                                />
                            </svg>

                            <div class="ml-[1rem]">
                                <h3 class="text-[2.2rem] font-[700] leading-[3.2rem]">Price Range</h3>
                                <div class="flex items-center gap-[1rem] mt-[0.5rem]">
                                    <span class="text-[1.4rem] text-[#586863] leading-[2.4rem]">Choose Price</span>
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M12 13.5858L16.2929 9.29289C16.6834 8.90237 17.3166 8.90237 17.7071 9.29289C18.0976 9.68342 18.0976 10.3166 17.7071 10.7071L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L6.29289 10.7071C5.90237 10.3166 5.90237 9.68342 6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289L12 13.5858Z"
                                            fill="#586863"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About us -->
        <section class="py-[3rem] text-[#fff] bg-[#0E1412] md:py-[4rem] lg:py-[10rem]">
            <div class="container gx-lg-0 gx-xl-3">
                <div class="row row-cols-1 gap-y-[4rem] row-cols-xl-2">
                    <div class="col">
                        <p class="section-sub-heading text-primary text-left">About Us</p>
                        <h2 class="section-heading text-[#fff] text-left">We Specialize In Quality Home Renovations</h2>
                        <p
                            class="mt-[1.2rem] text-[1rem] leading-[1.7rem] text-[#BECCC7] md:mt-[1.8rem] md:text-[1.8rem] md:leading-[3rem]"
                        >
                            Thene are many wariations of passages of Lorem lpsun available, but the majority have
                            sufered alteration in some form, by injected humour. or randomised words wihich don't look
                            even sligitty believable. If you are going to Se a pessage of Lorem lpsum.
                        </p>
                        <ul class="flex flex-col gap-[1.2rem] mt-[3rem] md:gap-[2rem] xl:mt-[5rem]">
                            <li
                                class="flex items-center gap-[0.8rem] text-[#fff] text-[1.1rem] font-[600] leading-[1.7rem] md:text-[1.8rem] md:gap-[1.5rem]"
                            >
                                <div
                                    class="flex items-center justify-center size-[2.4rem] shrink-0 rounded-full bg-primary md:size-[4rem]"
                                >
                                    <svg
                                        class="md:size-[2.2rem]"
                                        width="13"
                                        height="13"
                                        viewBox="0 0 13 13"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <g clip-path="url(#clip0_364_1309)">
                                            <path
                                                d="M5.11803 8.96061L2.42432 6.3252"
                                                stroke="white"
                                                stroke-width="1.17544"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M10.5055 3.68945L5.11804 8.96029"
                                                stroke="white"
                                                stroke-width="1.17544"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_364_1309">
                                                <rect width="12.9298" height="12.65" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                Outstanding property
                            </li>
                            <li
                                class="flex items-center gap-[0.8rem] text-[#fff] text-[1.1rem] font-[600] leading-[1.7rem] md:text-[1.8rem] md:gap-[1.5rem]"
                            >
                                <div
                                    class="flex items-center justify-center size-[2.4rem] shrink-0 rounded-full bg-primary md:size-[4rem]"
                                >
                                    <svg
                                        class="md:size-[2.2rem]"
                                        width="13"
                                        height="13"
                                        viewBox="0 0 13 13"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <g clip-path="url(#clip0_364_1309)">
                                            <path
                                                d="M5.11803 8.96061L2.42432 6.3252"
                                                stroke="white"
                                                stroke-width="1.17544"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M10.5055 3.68945L5.11804 8.96029"
                                                stroke="white"
                                                stroke-width="1.17544"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_364_1309">
                                                <rect width="12.9298" height="12.65" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                Professional and exparienced human rnsources
                            </li>
                            <li
                                class="flex items-center gap-[0.8rem] text-[#fff] text-[1.1rem] font-[600] leading-[1.7rem] md:text-[1.8rem] md:gap-[1.5rem]"
                            >
                                <div
                                    class="flex items-center justify-center size-[2.4rem] shrink-0 rounded-full bg-primary md:size-[4rem]"
                                >
                                    <svg
                                        class="md:size-[2.2rem]"
                                        width="13"
                                        height="13"
                                        viewBox="0 0 13 13"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <g clip-path="url(#clip0_364_1309)">
                                            <path
                                                d="M5.11803 8.96061L2.42432 6.3252"
                                                stroke="white"
                                                stroke-width="1.17544"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M10.5055 3.68945L5.11804 8.96029"
                                                stroke="white"
                                                stroke-width="1.17544"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_364_1309">
                                                <rect width="12.9298" height="12.65" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                Provide the best services for users
                            </li>
                            <li
                                class="flex items-center gap-[0.8rem] text-[#fff] text-[1.1rem] font-[600] leading-[1.7rem] md:text-[1.8rem] md:gap-[1.5rem]"
                            >
                                <div
                                    class="flex items-center justify-center size-[2.4rem] shrink-0 rounded-full bg-primary md:size-[4rem]"
                                >
                                    <svg
                                        class="md:size-[2.2rem]"
                                        width="13"
                                        height="13"
                                        viewBox="0 0 13 13"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <g clip-path="url(#clip0_364_1309)">
                                            <path
                                                d="M5.11803 8.96061L2.42432 6.3252"
                                                stroke="white"
                                                stroke-width="1.17544"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M10.5055 3.68945L5.11804 8.96029"
                                                stroke="white"
                                                stroke-width="1.17544"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_364_1309">
                                                <rect width="12.9298" height="12.65" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                Modern dty locations and exceptional lifestyle
                            </li>
                        </ul>
                        <button class="btn btn--primary mt-[4rem] text-[1.8rem] min-w-[16rem] h-[6rem] xl:mt-[5rem]">
                            Read More
                        </button>
                    </div>
                    <div class="col">
                        <img
                            class="w-full h-[39.3rem] object-cover rounded-[0.5rem] md:rounded-[1rem] xl:h-[67rem]"
                            src="./img/about-img.jpg"
                            alt="We Specialize In Quality Home Renovations"
                        />
                    </div>
                </div>
            </div>
        </section>

        <main class="h-[1000px]"></main>
        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>

        <!-- Scripts -->
        <script src="./main.js"></script>
    </body>
</html>
